@{
    ViewData["Title"] = "Friends";
}
<h1>@ViewData["Title"]</h1>

<button class="btn-info" style="align-items: end">Add Friend</button>
<input type="text" placeholder="Search by Name, Username, Email" class="input-group-text" style="width: 80%"/>

<div class="card" style="width: 70%;">
    <div class="card-body">
        <i class="bi bi-person"></i>
        <h5 class="card-title">Friend name</h5>
        <p class="card-text">@@username</p>
        <p class="card-text">Email: </p>
        <a href="#" class="btn btn-primary">Send a Cash Request</a>
    </div>
</div>
